{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
  <br /> <br />
  May I know whether you know about Krishna Adhikari who knows nothing about your level of knowledge and the immense contribution to the advancement the world piece and the overall scientific know-how and the world's or rather the know-nothing-mankind's knowledge as a whole? If not, please know that he acknowledges his lack of knowledge on many things that mankind has knowingly or unkowingly known about.
</h1>
{% endblock %}
